* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Body comment */
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Heading */
h1, h2, .title, #id {
  color: red;
}